.content{
    
    text-align: center;
    
}
.magic{
    text-align: center;
}
.shopm{
    color:red;
    font-size: 30px;
    text-decoration: dashed;
    text-align: center;
    text-shadow: 1cm;

}